@use '../../../../styles/variables.scss';

.legal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	background: variables.$primary;
	color: #ffffff;

	nav {
		ul {
			display: flex;
			flex-wrap: wrap;
		}

		a {
			display: block;
			padding: 5px 10px;
			color: currentColor;
			text-decoration: none;

			&:hover, &:focus {
				background: none;
				color: #ffffff;
				text-decoration: underline;
			}
		}
	}

	.tagline {
		margin-left: auto;
		font-family: variables.$font_heading;
		text-transform: uppercase;
	}
}

