@use '../../../styles/variables';

form.custom {
	label, legend {
		display: block;
		width: 100%;
		margin: 10px 0 0;

		&.invisible {
			position: absolute;
			right: -200vw;
		}
	}

	.description {
		margin: 5px 0 5px 15px;
		opacity: 0.7;
		font-size: 0.8em;
	}
}
