@use '../../../../styles/extends.scss';
@use '../../../../styles/variables.scss';

.main {
	position: relative;
	font-family: variables.$font_heading;

	svg {
		height: 1.5em;

		path {
			fill: currentColor;
		}
	}

	.items {
		display: none;
		position: absolute;
		z-index: 100;
		right: 0;
		width: 80vw;
		max-width: 400px;
		max-height: 80vh;
		overflow-y: auto;
	}

	&[open] {
		ul {
			display: block;
		}
	}

	.cta {
		@include extends.button;
		width: 100%;
		margin: 0 auto;
		border-radius: 0;
	}

	li {
		background: #ffffff;

		&:first-child {
			border-radius: 10px 10px 0 0;
		}

		&:last-child {
			border-radius: 0 0 10px 10px;

			.cta {
				border-radius: 0 0 10px 10px;
			}
		}
	}

	a {
		display: block;
		padding: 20px;
		border-bottom: 1px solid rgba(variables.$secondary, 0.5);
		background: rgba(variables.$secondary, 0.2);
		color: currentColor;
		font-size: 1.5em;
		font-weight: 400;
		text-align: center;
		text-decoration: none;

		&:hover, &:focus {
			background: variables.$secondary;
		}

		&.active {
			color: variables.$primary;
		}
	}

	.submenu {
		a {
			padding: 10px;
			background: #ffffff;
			font-size: 1.2em;

			&:hover, &:focus {
				background: variables.$secondary;
			}
		}
	}

	.search {
		display: none;
	}
}

@media(min-width: 50em) {
	.main {
		z-index: 50px;
		flex-shrink: 0;
		color: #ffffff;

		.hamburger {
			display: none;
		}

		.items {
			display: flex;
			position: static;
			align-items: center;
			width: auto;
			max-width: unset;
			max-height: unset;
			overflow-y: visible;
		}

		a {
			padding: 10px 5px;
			border-bottom: none;
			font-size: 0.9em;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		.cta {
			width: auto;
			margin-left: 10px;
			padding: 0.5em;
			border-radius: 2em;
		}



		li {

			flex: 0 0 auto;
			border-radius: none;
			background: transparent;

			&:last-child {
				.cta {
					border-radius: 2em;
				}
			}
		}

		li {
			&:nth-child(2) {
				.submenu {
					// display: block;
				}
			}

			&:hover, &:focus, &:focus-within {
				.submenu {
					display: block;
				}
			}
		}

		.submenu {
			display: none;
			position: absolute;
			z-index: 100;

			li {
				border-bottom: 1px solid variables.$secondary;
				border-radius: 0;
				background: #ffffff;

				&:first-child {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&:last-child {
					border-bottom: none;
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
				}

				&:hover {
					background: variables.$primary;
				}
			}

			a {
				background: none;
				color: variables.$secondary;
				font-size: inherit;

				&:hover {
					background: none;
					color: #ffffff;
				}
			}
		}
	}
}

@media(min-width: 60em) {
	.main {
		a {
			padding: 10px;
			font-size: 1em;
		}

		.cta {
			padding: 0.5em;
		}

		.search {
			display: block;

			button {
				border: none;
				background: none;
			}
		}
	}
}

@media(min-width: 70em) {
	.main {
		a {
			font-size: 1.2em;
		}

		.cta {
			font-size: 0.9em;
		}
	}
}

@media(min-width: 80em) {
	.main {
		a {
			padding: 10px 15px;
			font-size: 1.4em;
		}

		.cta {
			padding: 10px 15px;
		}
	}
}

