@use '../../../../styles/extends.scss';
@use '../../../../styles/variables.scss';

nav {
	font-family: variables.$font_heading;

	svg {
		height: 1.5em;

		path {
			fill: currentColor;
		}
	}

	.cta {
		@include extends.button;
	}
}
