@use '../../../styles/variables.scss';
@use '../../../styles/extends.scss';

.content_block {
	@include extends.list_reset;
	background: rgba(pink, 0.5);

	h2 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.image {
		width: 90vw;
		max-width: 400px;
		margin: 0 auto;
		color: variables.$secondary;
	}

	.content {
		line-height: 1.5;
	}

	.curve, .illustration {
		width: 2400px;
	}

	.curve {
		top: 0;
		height: auto;
		transform: translateX(-35%) translateY(-10%);
		fill: variables.$primary;
	}

	.illustration {
		z-index: 1;
		bottom: -450px;
		transform: scaleX(-1) rotate(-10deg) translateX(20%);

		svg {
			color: variables.$secondary;
		}
	}

	&.background {
		margin-top: 100px;
		margin-bottom: 50px;
		color: #ffffff;

		h2 {
			color: variables.$secondary;
		}

		.cta {
			color: variables.$primary;
		}
	}
}

@media(min-width: 50em) {
	.content_block {
		display: flex;
		align-items: center;

		.image {
			flex-shrink: 0;
			order: -1;
			width: 40vw;
			margin: 0 30px 0 0;
		}

		.cta {
			margin-bottom: 0;
		}

		.curve {
			transform: translateX(-35%) translateY(-15%);
		}

		.illustration {
			bottom: -350px;
			transform: scaleX(-1) rotate(-10deg) translateX(20%);
		}

		&.background {
			margin-top: 100px;
		}

		&.video {
			display: block;

			.cta {
				margin-top: 20px;
				margin-bottom: 50px;
			}
		}
	}
}

@media(min-width: 60em) {
	.content_block {
		.image {
			width: 50vw;
			max-width: 500px;
			margin-right: 50px;
		}

		.illustration {
			bottom: -300px;
			transform: scaleX(-1) rotate(-10deg) translateX(18%);
		}
	}
}

@media(min-width: 70em) {
	.content_block {
		justify-content: center;

		.content {
			max-width: 400px;
		}

		.curve {
			height: 920px;
			transform: translateX(-35%) translateY(-240px);
		}

		.illustration {
			bottom: -250px;
			transform: scaleX(-1) rotate(-14deg) translateX(350px);
		}

		&.background {
			margin-top: 250px;
		}

		&.video {
			.content {
				max-width: unset;
			}
		}
	}
}

@media(min-width: 80em) {
	.content_block {
		.content {
			max-width: 500px;
		}

		.illustration {
			transform: scaleX(-1) rotate(-14deg) translateX(400px);
		}
	}
}
