@use '../../../styles/variables.scss';
@use '../../../styles/extends.scss';

.content_block {
	@include extends.list_reset;
	z-index: 5;

	h2 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.subtitle {
		margin: 0 0 10px;
		font-family: variables.$font_heading;
		text-transform: uppercase;
	}

	.image {
		width: 90vw;
		max-width: 400px;
		margin: 0 auto;
		color: variables.$secondary;
	}

	.content {
		line-height: 1.5;
	}

	.block_content {
		ul {
			margin-left: 20px;
		}

		li {
			list-style: disc;
		}
	}

	.curve, .illustration {
		width: 2400px;
	}

	.curve {
		top: 0;
		height: auto;
		transform: translateX(-35%) translateY(-10%);
		fill: variables.$primary;
		fill: var(--backgroundFill);
	}

	.illustration {
		z-index: 1;
		bottom: -450px;
		transform: scaleX(-1) rotate(-10deg) translateX(20%);

		svg {
			color: variables.$secondary;
		}
	}

	.video-embed {
		margin-top: 30px;
	}

	&.background {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 650px;
		margin-top: 150px;
		margin-bottom: 150px;
		color: #ffffff;

		h2 {
			color: variables.$secondary;
			color: var(--headingColour);
		}

		.illustration {
			svg {
				color: var(--headingColour);
			}
		}
	}

	&.image_blob {
		margin-bottom: 100px;

		.image {
			margin-top: 40px;
		}
	}

	&.video {
		&.next_featured_videos  {
			&:not(.background) {
				margin-bottom: 180px;
			}
		}
	}

	&.fact {
		margin-bottom: 100px;
	}

	&.graphic {
		svg {
			path {
				stroke: variables.$primary;
			}
		}
	}

	&.illustration_top {
		margin-top: 300px;

		.illustration_top {
			top: 0;
			top: -280px;
			bottom: auto;
			width: auto;
			width: 800px;
			transform: translateX(0);

			svg {
				color: var(--headingColour);
			}

			&.lightning {
				top: -250px;
				left: 50%;
				width: 2000px;
				transform: translateX(-60%);
			}
		}
	}

	&.illustration_bottom {
		.illustration {
			bottom: -450px;
			transform: scaleX(-1) rotate(-10deg) translateX(10%);
		}
	}

	&.media_bottom {
		margin-bottom: 200px;

		.image {
			margin-top: 50px;
		}
	}
}

@media(min-width: 40em) {
	.content_block {
		&.illustration_top {
			margin-top: 250px;

			.illustration_top {
				top: -250px;

				&.lightning {
					top: -200px;
					transform: translateX(-55%);
				}
			}
		}

		&.media_bottom {
			min-height: unset;

			.image {
				width: 80vw;
				max-width: 800px;
				margin-top: 50px;
				margin-left: 0;
			}
		}

		&.illustration_bottom {
			.illustration {
				bottom: -150px;
				transform: scaleX(-1) rotate(-10deg) translateX(0%);
			}
		}
	}
}

@media(min-width: 50em) {
	.content_block {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		.image {
			flex-shrink: 0;
			order: -1;
			width: 40vw;
			margin: 0 30px 0 0;

			&.align_right {
				order: 0;
				margin: 0 0 0 30px;
			}

			&.align_bottom {
				order: 1;
			}
		}

		.cta {
			margin-bottom: 0;
		}

		.curve {
			transform: translateX(-35%) translateY(-15%);
		}

		.illustration {
			bottom: -350px;
			transform: scaleX(-1) rotate(-10deg) translateX(20%);
		}

		.video-embed {
			margin-top: 80px;
		}

		&.background {
			margin-top: 200px;
			margin-bottom: 100px;
		}

		&.video {
			display: block;

			.cta {
				margin-top: 20px;
				margin-bottom: 50px;
			}

			&.next_featured_videos  {
				.video-embed {
					width: 60vw;
					max-width: 600px;
					height: 60vw * (9/16);
					max-height: 600px * (9/16);
					margin: 50px 0 0;
				}

				.curve {
					width: 1500px;
					transform: translateX(-35%) translateY(-15%);
				}

				&:not(.background) {
					margin-bottom: 100px;
				}
			}
		}

		&.illustration_top {
			flex-wrap: nowrap;
			min-height: 500px;
			margin-top: 400px;

			.curve {
				width: 2000px;
			}

			.image {
				order: 1;
				margin: 0 0 0 20px;
			}

			.illustration_top {
				top: -450px;
				width: 1500px;
			}

			&.lightning {
				margin-top: 300px;
			}
		}

		&.illustration_bottom {
			.illustration {
				right: -50%;
				bottom: 100px;
				transform: scaleX(1) rotate(0) translateX(12%);
			}
		}

		&.fact {
			flex-wrap: nowrap;
			align-items: center;

			.fact_block {
				order: -1;
			}
		}

		&.media_bottom {
			flex-wrap: wrap;
			min-height: unset;
			margin-bottom: 50px;

			.content {
				margin-top: 20px;
			}

			.image {
				width: 80vw;
				max-width: 800px;
				margin-top: 50px;
				margin-left: 0;
			}
		}

		&.media_right {
			.image {
				order: 1;
				margin-right: 0;
				margin-left: 40px;
			}
		}
	}
}

@media(min-width: 60em) {
	.content_block {
		.image {
			width: 40vw;
			max-width: 500px;
			margin-right: 50px;

			&.align-right {
				margin-left: 50px;
			}
		}

		.illustration {
			bottom: -300px;
			transform: scaleX(-1) rotate(-10deg) translateX(18%);
		}

		&.video {
			&.next_featured_videos  {
				.video-embed {
					width: 60vw;
					max-width: 600px;
					height: 60vw * (9/16);
					max-height: 600px * (9/16);
					margin: 80px 0 0;
				}
			}
		}

		&.illustration_top {
			.image {
				margin-left: 40px;
			}

			.illustration_top {
				top: -450px;
				width: 1500px;
			}

			&.lightning {
				margin-top: 210px;
			}
		}

		&.illustration_bottom {
			.illustration {
				transform: translateX(8%);
			}
		}

		&.media_bottom {
			.content {
				max-width: unset;
				margin-top: 50px;
			}

			.image.align_bottom {
				margin-left: 0;
			}
		}

		&.media_right {
			.image {
				margin-left: 50px;
			}
		}
	}
}

@media(min-width: 70em) {
	.content_block {
		justify-content: center;

		.content {
			max-width: 400px;
		}

		.curve {
			left: 50%;
			height: 920px;
			transform: translateX(-50%) translateY(-240px);
		}

		.illustration {
			bottom: -250px;
			left: 50%;
			transform: scaleX(-1) rotate(-14deg) translateX(35%) translateY(0);
		}

		&.background {
			align-items: flex-start;
			margin-top: 300px;
			margin-bottom: 150px;
		}

		&.media_bottom {
			margin-bottom: 100px;
		}

		&.video, &.full_width {
			.content {
				max-width: unset;
			}
		}

		&.video {
			&.next_featured_videos  {
				margin-top: 500px;

				.curve {
					width: 2000px;
					transform: translateX(-50%) translateY(-300px);
				}

				&:not(.background) {
					margin-bottom: 150px;
				}
			}
		}

		&.illustration_bottom {
			.illustration {
				right: -50%;
				bottom: 50px;
				left: auto;
				transform: translateX(0%);
			}
		}

		&.illustration_top {
			margin-top: 500px;

			.image {
				margin-left: 60px;
			}

			.illustration_top {
				top: -500px;
				left: 40px;
				width: 1500px;
				transform: translateX(0);

				&.lightning {
					top: -250px;
					transform: translateX(-45%);
				}
			}

			&.lightning {
				margin-top: 300px;
			}
		}
	}
}

@media(min-width: 80em) {
	.content_block {
		.content {
			max-width: 500px;
		}

		.illustration {
			transform: scaleX(-1) rotate(-14deg) translateX(40%);
		}

		&.video {
			&.next_featured_videos  {
				margin-top: 500px;
				padding: 0 5vw;

				.video-embed {
					width: 1000px;
					max-width: 1000px;
					height: 1000px * (9/16);
					max-height: 1000px * (9/16);
					margin-top: 20px;
				}
			}
		}

		&.illustration_top {
			margin-top: 700px;

			.illustration_top {
				top: -750px;
				width: 2500px;

				path {
					stroke-width: 5px;
				}

				&.lightning {
					top: -320px;
					width: 3000px;
					transform: translateX(-50%);
				}
			}

			&.lightning {
				margin-top: 400px;
			}
		}

		&.illustration_bottom {
			.illustration {
				right: -700px;
				bottom: 20px;
				transform: translateX(0%);
			}
		}

		&.media_bottom {
			.content {
				// max-width: 700px;
			}
		}
	}
}

@media(min-width: 90em) {
	.content_block {
		&.illustration_bottom {
			.illustration {
				right: calc(-1 * (400px + 10vw));
				bottom: 0;
			}

			.video-embed {
				margin-left: 0;
			}
		}

		&.video {
			&.next_featured_videos  {
				width: 1200px;
				margin-right: auto;
				margin-left: auto;
				padding: 0;

				.video-embed {
					margin-top: 80px;
				}

				.curve {
					// width: 2000px;
					// transform: translateX(-50%) translateY(-300px);
				}

				&.illustration_bottom {
					.illustration {
						right: calc(-1 * (590px + 10vw));
					}
				}
			}
		}
	}
}

@media(min-width: 95em) {
	.content_block {
		&.illustration_bottom {
			.illustration {
				right: calc(-1 * (300px + 10vw));
			}
		}
	}
}
