@use '../../../styles/variables.scss';
@use '../../../styles/extends.scss';

.content_block {
	@include extends.list_reset;

	h2 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.subtitle {
		margin: 0 0 10px;
		font-family: variables.$font_heading;
		text-transform: uppercase;
	}

	.image {
		width: 90vw;
		max-width: 400px;
		margin: 0 auto;
		color: variables.$secondary;
	}

	.content {
		line-height: 1.5;
	}

	.block_content {
		ul {
			margin-left: 20px;
		}

		li {
			list-style: disc;
		}
	}

	.curve, .illustration {
		width: 2400px;
	}

	.curve {
		top: 0;
		height: auto;
		transform: translateX(-35%) translateY(-10%);
		fill: variables.$primary;
		fill: var(--backgroundFill);
	}

	.illustration {
		z-index: 1;
		bottom: -450px;
		transform: scaleX(-1) rotate(-10deg) translateX(20%);

		svg {
			color: variables.$secondary;
		}
	}

	.video-embed {
		margin-top: 30px;
	}

	&.background {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 650px;
		margin-top: 150px;
		margin-bottom: 150px;
		color: #ffffff;

		h2 {
			color: variables.$secondary;
			color: var(--headingColour);
		}
	}

	&.illustration_top {
		margin-top: 300px;

		.illustration_top {
			top: 0;
			top: -280px;
			bottom: auto;
			width: auto;
			width: 800px;
			transform: translateX(0);
		}
	}

	&.fact {

	}
}

@media(min-width: 40em) {
	.content_block {
		&.illustration_top {
			margin-top: 250px;

			.illustration_top {
				// top: 0;
				top: -250px;
				// bottom: auto;
				// width: auto;
				// width: 800px;
				// transform: translateX(0);
			}
		}
	}
}

@media(min-width: 50em) {
	.content_block {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		.image {
			flex-shrink: 0;
			order: -1;
			width: 40vw;
			margin: 0 30px 0 0;

			&.align_right {
				order: 0;
				margin: 0 0 0 30px;
			}
		}

		.cta {
			margin-bottom: 0;
		}

		.curve {
			transform: translateX(-35%) translateY(-15%);
		}

		.illustration {
			bottom: -350px;
			transform: scaleX(-1) rotate(-10deg) translateX(20%);
		}

		.video-embed {
			margin-top: 80px;
		}

		&.background {
			margin-top: 200px;
		}

		&.video {
			display: block;

			.cta {
				margin-top: 20px;
				margin-bottom: 50px;
			}
		}

		&.illustration_top {
			flex-wrap: nowrap;
			min-height: 500px;
			margin-top: 400px;
			margin-bottom: 200px;

			.curve {
				width: 2000px;
			}

			.image {
				order: 1;
				margin: 0 0 0 20px;
			}

			.illustration_top {
				top: -450px;
				width: 1500px;
			}
		}

		&.fact {
			flex-wrap: nowrap;
			align-items: center;

			.fact_block {
				order: -1;
			}
		}
	}
}

@media(min-width: 60em) {
	.content_block {
		.image {
			width: 40vw;
			max-width: 500px;
			margin-right: 50px;

			&.align-right {
				margin-left: 50px;
			}
		}

		.illustration {
			bottom: -300px;
			transform: scaleX(-1) rotate(-10deg) translateX(18%);
		}

		&.illustration_top {
			// margin-top: 400px;
			// margin-bottom: 200px;

			.curve {
				// width: 2000px;
			}

			.image {
				margin-left: 40px;
			}

			.illustration_top {
				// top: 0;
				top: -450px;
				// bottom: auto;
				// width: auto;
				width: 1500px;
				// transform: translateX(0);
			}
		}
	}
}

@media(min-width: 70em) {
	.content_block {
		justify-content: center;

		.content {
			max-width: 400px;
		}

		.curve {
			left: 50%;
			height: 920px;
			transform: translateX(-50%) translateY(-240px);
		}

		.illustration {
			bottom: -250px;
			left: 50%;
			transform: scaleX(-1) rotate(-14deg) translateX(35%) translateY(0);
		}

		&.background {
			align-items: flex-start;
			margin-top: 300px;
		}

		&.video, &.full_width {
			.content {
				max-width: unset;
			}
		}

		&.illustration_top {
			margin-top: 500px;

			.image {
				margin-left: 60px;
			}

			.illustration_top {
				top: -500px;
				left: 40px;
				width: 1500px;
				transform: translateX(0);
			}
		}
	}
}

@media(min-width: 80em) {
	.content_block {
		.content {
			max-width: 500px;
		}

		.illustration {
			transform: scaleX(-1) rotate(-14deg) translateX(40%);
		}

		&.illustration_top {
			margin-top: 700px;

			.illustration_top {
				top: -750px;
				width: 2500px;

				path {
					stroke-width: 5px;
				}
			}
		}
	}
}
