@use '../../../styles/variables.scss';

.lazy-line-painter {
	pointer-events: none;
}

svg.animated {
	overflow: visible;
	fill: none;
	pointer-events: none;

	path, ellipse {
		stroke-width: 10px;
		stroke-linecap: round;
		stroke: variables.$primary;
		stroke-opacity: 0;

		@media(prefers-reduced-motion: reduce) {
			stroke-opacity: 1;
		}
	}

	&.plug_footer {
		path, ellipse {
			stroke-linecap: butt;
		}
	}
}

.animated-offset {
	position: absolute;
	top: -10vh;
}
