form.custom {
	fieldset {
		div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			label, legend {
				order: -2;
			}

			.description {
				order: -1;
			}

			> div:first-of-type:last-of-type {
				width: 100%;
			}

			label, input, select, fieldset {
				width: calc(50% - 2px);
			}

			fieldset {
				padding: 0 5px;
			}

			input, select {
				border-radius: 2em 0 0 2em;

				&.second {
					border-radius: 0 2em 2em 0;
				}
			}
		}
	}
}
