@use '../../../../styles/variables.scss';

.search {
	.search_results {
		max-height: 70vh;
		overflow-y: auto;
		color: variables.$main;

		li {
			background: none;
		}

		a {
			background: none;
			text-align: left;

			&:hover, &:focus {
				background: none;
			}
		}
	}
}
