@use '../../../styles/variables.scss';
@use '../../../styles/extends.scss';

.cta_buttons {
	@include extends.list_reset;
	margin: 0;
	padding: 0;
}

.cta {
	border-color: var(--cta_background);
	background: var(--cta_background);
	color: var(--cta_text);
	font-weight: 600;

	&:hover, &:focus {
		border-color: var(--cta_background);
		background: var(--cta_text);
		color: var(--cta_background);
	}
}
