@use '../../../styles/variables.scss';

.news {
	position: relative;
	margin: 100px auto;
	text-align: center;

	.curve {
		position: absolute;
		z-index: -1;
		height: 1850px;
		transform: translateX(-55%) translateY(-5%);
		fill: none;

		.blob {
			fill: variables.$secondary;
		}
	}

	.lightbulb {
		display: none;
	}
}

@media(min-width: 40em) {
	.news {
		margin-top: 250px;
		margin-bottom: 150px;

		.curve {
			bottom: -200px;
			height: 1400px;
			transform: translateX(-55%) translateY(-0%);
		}
	}
}


@media(min-width: 50em) {
	.news {
		margin-top: 250px;
		margin-bottom: 150px;


		h2 {
			margin-bottom: 50px;
		}

		.curve {
			height: 1500px;
			transform: translateX(-54%);
		}

		.lightbulb {
			display: block;
			position: absolute;
			top: -300px;
			width: 2500px;
			transform: translateX(-37%);

			path {
				stroke-width: 5px;
			}
		}
	}
}

@media(min-width: 60em) {
	.news {
		margin-top: 300px;

		.curve {
			bottom: -100px;
			height: 1600px;
			transform: translateX(-50%);
		}

		.lightbulb {
			top: -320px;
			left: 50%;
			transform: translateX(-55%);
		}
	}
}

@media(min-width: 70em) {
	.news {
		margin-bottom: 300px;

		.curve {
			bottom: -250px;
			height: 1800px;
			transform: translateX(-55%);
		}
	}
}

@media(min-width: 90em) {
	.news {
		margin-top: 500px;
		margin-bottom: 300px;

		.curve {
			bottom: -200px;
		}
	}
}
