@use '../../../styles/variables.scss';

.news {
	margin: 100px auto;
	text-align: center;

	.curve {
		position: absolute;
		z-index: -1;
		height: 175%;
		transform: rotate(-61.13deg) translateY(-55%) translateX(-27%);
		fill: variables.$secondary;
	}
}

@media(min-width: 40em) {
	.news {
		.curve {
			height: 130%;
			transform: rotate(-61.13deg) translateY(-60%) translateX(-20%);
		}
	}
}


@media(min-width: 50em) {
	.news {
		margin-top: 200px;
		margin-bottom: 150px;

		h2 {
			margin-bottom: 50px;
		}

		.curve {
			height: 140%;
			transform: rotate(-61.13deg) translateY(-60%) translateX(-18%);
		}
	}
}

@media(min-width: 60em) {
	.news {
		.curve {
			height: 1400px;
			transform: rotate(-61.13deg) translateY(-58%) translateX(-15%);
		}
	}
}

@media(min-width: 70em) {
	.news {
		.curve {
			transform: rotate(-61.13deg) translateY(-60%) translateX(-18%);
		}
	}
}

@media(min-width: 90em) {
	.news {
		margin-top: 500px;
		margin-bottom: 300px;

		.curve {
			height: 1600px;
			transform: rotate(-61.13deg) translateY(-65%) translateX(-10%);
		}
	}
}
