@use 'variables.scss';

@mixin button {

	display: inline-block;

	margin: 20px auto;
	padding: 0.5em 1.5em;
	transition: all 0.3s ease-in-out;

	border: 2px solid var(--cta_background);
	border-radius: 2em;
	background: variables.$primary;
	background: var(--cta_background);
	color: #ffffff;
	color:var(--cta_text);
	font-family: variables.$font_heading;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;

	&:hover, &:focus {
		--cta_background: #ffffff;
		--cta_text: #{variables.$primary};

		border-color: var(--cta_text);
	}
}

@mixin list_reset {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

$glow_yellow: #ffcc00;
$glow_orange: #ff7e00;
$glow_outline: rgba(#ffffff, .4);
$glow_shadow: rgba($glow_yellow, .5);

@mixin glow {
	path, line, ellipse, rect {
		transition: filter 5s ease-in-out 5s;
		filter:
			drop-shadow(-1px -1px 0 $glow_outline)
			drop-shadow(1px -1px 0 $glow_outline)
			drop-shadow(-1px 1px 0 $glow_outline)
			drop-shadow(1px 1px 0 $glow_outline)
			drop-shadow(0 0 3px $glow_orange)
			drop-shadow(0 0 12px $glow_yellow)
			drop-shadow(0 0 2px $glow_orange);
	}
}

@mixin range-thumb {
	width: 35px;
	height: 35px;
	margin-top: 0;
	border: 7px solid variables.$primary;
	border-radius: 50%;
	background: variables.$secondary;
	box-shadow: none;
	cursor: pointer;
	-webkit-appearance: none;
}

@mixin range-track {
	width: 100%;
	height: 30px;
	padding: 0;
	border: none;
	border-radius: 15px;
	background: variables.$grey;
	background: linear-gradient(to right, variables.$secondary var(--percentage), variables.$grey var(--percentage));
	box-shadow: none;
	color: transparent;
	cursor: pointer
}
