@use 'variables.scss';
@use 'extends.scss';

body {
	--cta_background: #{variables.$primary};
	--cta_text: #ffffff;
	--link_text: #{variables.$primary};
	--link_background: transparent;

	color: variables.$main;
	font-family: variables.$font_regular;
	font-size: 16px;
	line-height: 1.2;
}

h1, h2, h3, h4, h5 {
	position: relative;
	color: variables.$primary;
	font-family: variables.$font_heading;

	&:hover {
		.icon-link {
			position: absolute;
			left: -1.2ch;

			&:before {
				content: '#';
			}
		}
	}
}

h1, h2, h3 {
	font-weight: 600;
}

h1 {
	text-transform: uppercase;

	&.hidden {
		position: absolute;
		right: -200vw;
	}
}

h2 {
	text-transform: uppercase;
}

a {
	transition: all 0.3s ease-in-out;
	background: var(--link_background);
	color: var(--link_text);

	&:hover, &:focus {
		--link_background: #{variables.$secondary};

		text-decoration: none;
	}

	svg {
		width: auto;
		height: 1.2em;
		margin-right: 10px;
	}

	&.block {
		position: static;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		color: transparent;
		font-size: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

.btn {
	@include extends.button;

	&.secondary {
		--cta_background: #{variables.$secondary};
		--cta_text: #{variables.$primary};
	}

	&.tertiary {
		--cta_background: #ffffff;
		--cta_text: #{variables.$primary};
	}
}

nav {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
