@use 'variables.scss';
@use 'extends.scss';

body {
	color: variables.$main;
	font-family: variables.$font_regular;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	color: variables.$primary;
	font-family: variables.$font_heading;
}

h1, h2, h3 {
	font-weight: 600;
}

h2 {
	text-transform: uppercase;
}

a {
	--link_text: #{variables.$primary};
	--link_background: transparent;
	transition: all 0.3s ease-in-out;

	background: var(--link_background);
	color: var(--link_text);

	&:hover, &:focus {
		--link_background: #{variables.$secondary};

		text-decoration: none;
	}

	svg {
		width: auto;
		height: 1.2em;
		margin-right: 10px;
	}
}

.btn {
	@include extends.button;

	&.secondary {
		--background: #{variables.$secondary};
		--text: #{variables.$primary};
	}

	&.tertiary {
		--background: #ffffff;
		--text: #{variables.$primary};
	}
}

nav {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
