$primary: #18304c;
$secondary: #00bbd4;

$main: #000000;
$grey: #e5e5e5;
$grey_dark: #b2b2b2;

$font_regular: 'metronic-slab', 'Roboto Slab', Helvetica, Calibri, Arial, sans-serif;
$font_heading: 'Core Mellow', 'Barlow Condensed', Helvetica, Calibri, Arial, sans-serif;
