$primary: #18304c;
$secondary: #00bbd4;

$main: #000000;
$grey: #e5e5e5;
$grey_dark: #b2b2b2;

$font_regular: 'Metronic Slab Pro', Helvetica, Calibri, Arial, sans-serif;
$font_headings: 'Core Mellow', Helvetica, Calibri, Arial, sans-serif;
