@use '../../../styles/variables.scss';
@use '../../../styles/extends.scss';

.video {
	@include extends.list-reset;

	position: relative;
	color: #ffffff;
	line-height: 1.5;

	.curve {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		height: 90%;
		transform: translateX(-40%);

		path {
			fill: variables.$primary;
		}
	}

	h2 {
		color: variables.$secondary;
		font-size: 1.5em;
	}

	.cta {
		color: variables.$primary;
	}
}

@media(min-width: 30em) {
	.video {
		margin-top: 100px;

		.curve {
			top: -30px;
		}
	}
}

@media(min-width: 40em) {
	.video {
		margin-top: 50px;
	}
}

@media(min-width: 60em) {
	.video {
		.curve {
			top: -50px;
		}
	}
}

@media(min-width: 70em) {
	.video {
		.curve {
			transform: translateX(-30%);
		}
	}
}

@media(min-width: 80em) {
	.video {
		margin-top: 150px;

		.curve {
			top: -100px;
		}
	}
}
