@use '../../../styles/variables.scss';

.faq_block {
	position: relative;
	margin-top: 200px;
	margin-bottom: 100px;
	text-align: center;

	h2 {
		color: variables.$secondary;
	}

	.curve {
		left: -50%;
		height: 900px;
		transform: scaleX(-1) translateX(30%) translateY(-120px);

		path {
			fill: variables.$primary;
		}
	}

	.plug {
		display: none;
		position: absolute;

		svg {
			path {
				stroke: variables.$secondary;
			}
		}
	}

	.article {
		.content, &:nth-child(3n):hover .content {
			background: #ffffff;
			color: variables.$primary;

			h3 {
				color: variables.$primary;
			}
		}

		&:nth-child(3n), &:nth-child(3n-2):hover {
			.content {
				background: variables.$secondary;
				color: #ffffff;

				h3 {
					color: variables.$primary;
				}
			}
		}

		&:nth-child(3n-2), &:nth-child(3n-1):hover {
			.content {
				background: variables.$primary;
				color: #ffffff;

				h3 {
					color: variables.$secondary;
				}
			}
		}
	}
}

@media(min-width: 40em) {
	.faq_block {
		margin-top: 350px;

		h2 {
			margin-bottom: 50px;
		}

		.curve {
			transform: scaleX(-1) translateX(20%) translateY(-200px);
		}
	}
}

@media(min-width: 50em) {
	.faq_block {
		margin-top: 250px;
	}
}

@media(min-width: 60em) {
	.faq_block {
		.curve {
			left: -300px;
			transform: scaleX(-1) translateX(0) translateY(-200px);
		}
	}
}

@media(min-width: 70em) {
	.faq_block {
		.plug {
			display: block;
			right: 40vw;
			height: 500px;

			svg {
				transform: rotate(35deg);
			}
		}
	}
}


@media(min-width: 80em) {
	.faq_block {
		.curve {
			left: -200px;
		}

		.plug {
			right: 35vw;
			height: 800px;
			transform: translateY(-40%);
		}
	}
}

@media(min-width: 90em) {
	.faq_block {
		.curve {
			left: -100px;
		}
	}
}
