.block {
	margin: 20px 0;
	padding: 0 20px;
}

@media(min-width: 40em) {
	.block {
		margin: 40px 0;
		padding: 0 40px;
	}
}

@media(min-width: 50em) {
	.block {
		padding: 0 5vw;
	}
}

@media(min-width: 60em) {
	.block {
		margin: 50px 0;
		padding: 0 10vw;
	}
}

@media(min-width: 85em) {
	.block {
		padding: 0 calc(50vw - 500px);
	}
}

