@use '../../../styles/variables.scss';

footer {
	.container {
		position: relative;
	}

	.logo {
		width: 200px;
	}

	.curve {
		position: absolute;
		z-index: -1;
		top: 0;
		width: auto;
		height: 100%;
		transform: translateX(-50%);

		path {
			fill: variables.$secondary;
		}

		.home {
			display: none;
		}
	}
}
