@use '../../../styles/variables.scss';

.search-modal {
	display: none;
	position: absolute;
	z-index: 100;
	top: 3em;
	right: 0;
	width: 300px;
	padding: 15px;
	border: 2px solid variables.$primary;
	border-radius: 20px;
	background: #ffffff;

	.see-more {
		background: none;
		color: variables.$primary;
		text-decoration: underline;

		&:hover, &:focus {
			background: none;
			text-decoration: none;
		}
	}

	.algolia {
		display: flex;
		opacity: 0.5;
		color: variables.$primary;

		a {
			display: inline;
			margin-left: 10px;
			padding: 0;
			background: none;
			color: variables.$primary;
			text-decoration: underline;
		}

		&:hover, &:focus {
			background: none;
			text-decoration: none;
		}

		svg {
			height: 1em;
		}
	}
}

.search {
	position: relative;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;

		svg:not(.ais-PoweredBy-logo) {
			height: 1.5em;
			fill: currentColor;
		}
	}

	form {
		width: 100%;

		button {
			position: absolute;
			right: -200vw;
		}
	}

	.search_results {
		// display: none;
	}

	&[open] {
		.search-modal {
			display: block;
		}

		.ais-SearchBox {
			&:focus-within {
				& + .search_results {
					opacity: 1;
					pointer-events: normal;
				}
			}
		}
	}
}
