@use '../../../styles/variables.scss';

.search-modal {
	display: none;
	position: absolute;
	z-index: 100;
	top: 3em;
	right: 0;
	width: 300px;
	padding: 15px;
	border: 2px solid variables.$primary;
	border-radius: 20px;
	background: #ffffff;
}

.search {
	position: relative;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;

		svg {
			height: 1.5em;
			fill: currentColor;
		}
	}

	form {
		width: 100%;

		button {
			position: absolute;
			right: -200vw;
		}
	}

	.search_results {
		display: none;

		a {
			color: currentColor;
			text-align: left;
		}
	}

	&[open] {
		.search-modal {
			display: block;
		}

		.ais-SearchBox {
			&:focus-within {
				& + .search_results {
					opacity: 1;
					pointer-events: normal;
				}
			}
		}
	}
}
