@use '../../../styles/variables.scss';

.featured_sections {
	position: relative;
	z-index: 5;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;

	h2 {
		margin-bottom: 10px;
	}

	.curve {
		left: 50%;
		height: 900px;
		transform: translateX(-50%) translateY(500px);

		path {
			fill: variables.$primary;
		}
	}
}

@media(min-width: 40em) {
	.featured_sections {
		.curve {
			transform: translateX(-50%) translateY(200px);
		}
	}
}

@media(min-width: 60em) {
	.featured_sections {
		.curve {
			transform: translateX(-50%) translateY(350px);
		}
	}
}
