@use '../../../styles/variables.scss';

.featured_sections {
	position: relative;
	z-index: 5;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;

	h2 {
		margin-bottom: 10px;
	}

	.curve {
		left: 50%;
		height: 900px;
		transform: translateX(-50%) translateY(500px);

		path {
			fill: variables.$primary;
		}
	}

	.sects {
		background-image: var(--background_graphic);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&.blocks {
		.sects {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&.small, &.collapsible_blocks, &.numbered_blocks {
		.curve {
			display: none;
		}
	}

	&.background_graphic {
		.repeatable_content {
			background: rgba(#ffffff, 0.9);
		}
	}

	&.collapsible {
		.sects {
			max-width: 800px;
			margin: 0 auto;
		}
	}
}

@media(min-width: 40em) {
	.featured_sections {
		.curve {
			transform: translateX(-50%) translateY(200px);
		}

		&.blocks {
			.sects {
				.repeatable_content:not(.numbered):not(.collapsible) {
					flex: 1 1 40%;
					max-width: unset;
					margin: 30px;
				}
			}
		}
	}
}

@media(min-width: 50em) {
	.featured_sections {
		.sects {
			background-size: 500px auto;
		}
	}
}

@media(min-width: 60em) {
	.featured_sections {
		.curve {
			transform: translateX(-50%) translateY(350px);
		}

		&.collapsible_blocks {
			.sects {
				display: flex;
				flex-wrap: wrap;
				max-width: unset;
			}
		}

		.sects {
			background-size: 700px auto;
		}
	}
}
