.testimonial_block {
	margin-top: 50px;
	margin-bottom: 100px;
}

@media(min-width: 40em) {
	.testimonial_block {
		margin-top: 100px;
	}
}

@media(min-width: 50em) {
	.testimonial_block {
		margin-bottom: 200px;
	}
}
