@use '../variables.scss';
@use '../extends.scss';

.news_page {
	position: relative;

	.banner {
		blockquote {
			margin-right: auto;
			margin-left: 0;
		}

		.plug {
			display: none;
		}
	}
}

.news_filter {
	@include extends.list_reset;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	background: variables.$grey;

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	li {
		margin: 5px 0;
		color: #ffffff;

		a {
			display: block;
			margin: 0;
			padding: 0.5em 1em;
			border-radius: 2em;
			border-color: variables.$secondary;
			background: variables.$secondary;
			color: inherit;
			text-decoration: none;

			&:hover, &:focus {
				background: variables.$primary;
			}
		}

		&:nth-child(2n) {
			a {
				border-color: variables.$primary;
				background: variables.$primary;

				&:hover, &:focus {
					background: variables.$secondary;
				}
			}
		}
	}
}

.intro {
	margin-top: -50px;
	padding: 0 20px;
}

.news_feed {
	position: relative;
	margin-top: 230px;

	h2 {
		width: 80%;
		margin: 20px auto;
		text-align: center;
	}

	.lightbulb {
		position: absolute;
		top: -200px;
		left: 50%;

		svg {
			height: 500px;
			transform: translateX(-55%);
		}
	}

	.article {
		.content {
			background: variables.$secondary;
			color: variables.$primary;
		}

		&:nth-child(2n) {
			--cta_background: #{variables.$secondary};

			.content {
				background: variables.$primary;
				color: variables.$secondary;
			}
		}

		a {
			width: auto;
			height: auto;
		}

		.cta_buttons {
			margin-top: auto;
		}

		.excerpt {
			display: none;
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	margin: 50px 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;

		&:last-child {
			button {
				border-right: none;
			}
		}
	}

	button {
		padding: 0 10px;
		border: none;
		border-right: 2px solid variables.$primary;
		border-radius: 0;
		background: none;
		color: variables.$primary;
		font-size: 2em;
		line-height: 0.8;

		span {
			position: absolute;
			right: -200vw;
		}

		&.active {
			color: variables.$secondary;
			font-weight: 600;
		}
	}
}

.news_article {
	.banner {
		margin-top: 20px;
		margin-left: -20px;

		blockquote {
			max-width: unset;
		}
	}
}

@media(min-width: 40em) {
	.news_feed {
		min-height: 500px;
		margin-top: 300px;
		padding: 0 20px;

		.lightbulb {
			top: -250px;

			svg {
				height: 900px;

				path {
					stroke-width: 6px;
				}
			}
		}
	}

	.intro {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -100px;
	}

	.news_filter {
		position: relative;
		margin-right: 0;
		margin-left: 80px;

		&:before {
			content: '';
			position: absolute;
			top: 40px;
			bottom: 40px;
			left: -40px;
			width: 2px;
			background: variables.$grey;
		}
	}

	.news_article {
		.banner {
			margin-left: -40px;

			blockquote {
				width: 70vw;
			}
		}
	}
}

@media(min-width: 50em) {
	.news_feed {
		margin-top: 400px;

		.lightbulb {
			top: -300px;

			svg {
				transform: translateX(-53%);
			}
		}
	}

	.intro {
		margin-top: -50px;
	}

	.news_filter {
		flex-shrink: 0;
		width: 400px;
		margin-left: 160px;

		&:before {
			left: -80px;
		}
	}

	.pagination {
		margin-bottom: 200px;
	}

	.news_article {
		.banner {
			margin-top: -30px;
			margin-left: -5vw;
		}
	}
}

@media(min-width: 60em) {
	.news_feed {
		width: 90vw;
		max-width: 1000px;
		margin: 350px auto 0;
		padding: 0;

		.lightbulb {
			top: -300px;
		}

		.article {
			margin-left: 40px;

			&:nth-child(2n) {
				margin-right: 40px;
				margin-left: auto;
			}
		}
	}

	.news_article {
		.banner {
			blockquote {
				margin-bottom: 50px;
			}
		}
	}
}

@media(min-width: 70em) {
	.news_feed {
		.lightbulb {
			top: -280px;

			svg {
				height: 1000px;
			}
		}
	}
}

@media(min-width: 80em) {
	.news_feed {
		.lightbulb {
			top: -300px;
		}
	}
}

@media(min-width: 85em) {
	.news_article {
		.banner {
			margin-left: calc(-1 * (50vw - 600px));
		}
	}
}
