@use '../variables.scss';
@use '../extends.scss';

.not_found {
	h1 {
		text-align: center;
	}
}

@media(min-width: 50em) {
	.not_found {
		h1 {
			margin-top: 1em;
			font-size: 3em;
		}

		.content {
			max-width: 900px;
			margin: 0 auto;
			line-height: 2em;
			text-align: center;

			p {
				font-size: 1.5em;
			}
		}
	}
}

@media(min-width: 70em) {
	.not_found {
		h1 {
			font-size: 5em;
		}
	}
}
