.featured_videos {
	.videos {
		// margin-top: -150px;
	}
}

.content_block.video {
	& + .featured_videos {
		margin-top: -150px;
	}
}

@media(min-width: 40em) {
	.featured_videos {
		.videos {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin:  0;

			.video-embed {
				width: 40vw;
				max-width: 400px;
				height: 40vw * (9/16);
				max-height: 400px * (9/16);
				margin: 10px;
			}
		}
	}

	.content_block.video {
		& + .featured_videos {
			margin-top: -150px;

			.videos {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 -20px;

				.video-embed {
					width: 43vw;
					max-width: 400px;
					height: 43vw * (9/16);
					max-height: 400px * (9/16);
					margin: 10px;
				}
			}
		}
	}
}

@media(min-width: 50em) {
	.featured_videos {
		.videos {
			justify-content: center;
			margin: 0 -10px;

			.video-embed {
				width: 43vw;
				height: 43vw * (9/16);
			}
		}
	}

	.content_block.video {
		& + .featured_videos {
			margin-top: -80px;

			.videos {
				justify-content: space-between;
				margin: 0 -10px;
			}
		}
	}
}

@media(min-width: 60em) {
	.featured_videos {
		.videos {
			margin-bottom: 100px;

			.video-embed {
				width: calc(40vw - 20px);
				height: calc((40vw - 20px) * (9/16));
				margin: 10px;
			}
		}
	}

	.content_block.video {
		& + .featured_videos {
			margin-top: -80px;

			.videos {
				justify-content: flex-start;
				min-width: 800px + 40px;
				margin: 0 auto;
				margin-left: -20px;

				.video-embed {
					width: 400px;
					height: 400px * (9/16);
					margin: 10px;
				}
			}
		}
	}
}

@media(min-width: 70em) {
	.content_block.video {
		& + .featured_videos {
			.videos {
				margin-top: -120px;
				margin-left: -20px;
			}
		}
	}
}

@media(min-width: 80em) {
	.content_block.video {
		& + .featured_videos {
			padding: 0 5vw;

			.videos {
				min-width: (590px * 2) + 40px;
				margin-top: -130px;
				margin-left: -10px;

				.video-embed {
					width: 590px;
					max-width: 590px;
					height: 590px * (9/16);
					max-height: 590px * (9/16);
				}
			}
		}
	}
}

@media(min-width: 85em) {
	.featured_videos {
		padding: 0 calc(50vw - 600px);

		.videos {
			.video-embed {
				width: calc(50vw - (50vw - 600px) - 20px);
				max-width: 590px;
				height: calc((50vw - (50vw - 600px) - 20px) * (9/16));
				max-height: 590px * (9/16);
			}
		}
	}
}

@media(min-width: 90em) {
	.content_block.video {
		& + .featured_videos {
			.videos {
				width: 1220px;
				margin-right: auto;
				margin-left: auto;
				padding: 0;
			}
		}
	}
}
