@use '../../../styles/variables.scss';

.form_block {
	.illustration {
		display: none;
		position: absolute;
		transform: scaleX(-1) rotate(40deg);

		svg {
			path {
				stroke-width: 5px;
				stroke: variables.$secondary;
			}
		}
	}

	&.illustration_top {
		margin-top: 100px;

		.illustration  {
			display: block;
			top: -300px;

			svg {
				width: 1200px;
				transform: scaleX(1) rotate(120deg);
			}
		}
	}
}

@media(min-width: 50em) {
	.form_block {
		margin-bottom: 100px;
	}
}

@media(min-width: 60em) {
	.form_block {
		width: 80vw;
		max-width: 800px;
		margin: 0 auto 20px;
		padding: 50px;

		.illustration {
			display: block;

			bottom: 80%;
			left: 650px;
			width: 1400px;
		}

		&.illustration_top {
			margin-top: 50px;
			padding-top: 0;

			.illustration  {
				top: -160px;
				right: -120px;
				left: auto;
			}
		}
	}
}

@media(min-width: 70em) {
	.form_block {
		.illustration {
			left: 600px;
			width: 2000px;
		}

		&.illustration_top {
			margin-top: 50px;
			padding-top: 0;

			.illustration  {
				top: -450px;
				right: -250px;
				left: auto;

				svg {
					width: 2000px;
				}
			}
		}
	}
}
