@use '../../../styles/variables.scss';

.testimonials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
	color: #ffffff;

	blockquote {
		display: none;
		width: 100%;
		margin: 0;
	}

	figure {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 280px;
		height: 280px;
		margin: 0 auto;
		padding: 40px;

		svg {
			position: absolute;
			z-index: 5;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
	}

	input {
		+ label {
			order: 1;
			width: auto;
			cursor: pointer;

			span {
				position: absolute;
				right: -200vw;
			}
		}

		&:checked {
			+ label {
				&:after {
					background: #ffffff;
				}

				+ blockquote {
					display: block;
				}
			}
		}
	}

	.quote {
		position: relative;
		padding: 20px 40px;

		svg {
			position: absolute;
			height: 1.5em;
		}

		.before {
			top: 0;
			left: 0;
		}

		.after {
			right: 0;
			bottom: 0;
		}
	}

	cite {
		display: block;
		margin-top: 30px;
		font-size: 0.8em;
		font-style: normal;

		p {
			margin: 0;
		}
	}

	.name {
		font-family: variables.$font_heading;
		font-size: 2em;
		text-transform: uppercase;
	}

	.curve {
		position: absolute;
		height: 90%;
		transform: translateX(20%) translateY(-12%);
		fill: variables.$primary;
	}
}

.sun {
	path, ellipse, line {
		stroke-width: 21;
		stroke: variables.$secondary;
		fill:none;
		stroke-linejoin:round;
		stroke-miterlimit:10;
	}
}

@media(min-width: 40em) {
	.testimonials {
		align-content: center;
		align-items: center;
		margin-top: 150px;

		figure {
			float: left;
		}

		.quote, cite {
			width: calc(100% - 300px);
			margin-left: auto;
		}

		cite {
			padding-left: 40px;
		}

		.curve {
			height: 70%;
			transform: translateX(0%) translateY(-0%);
			fill: variables.$primary;
		}
	}

	@supports(grid-template-areas: '.') {
		.testimonials {
			blockquote {
				grid-gap: 30px;
				grid-template-areas: 'img .' 'img quote' 'img name' 'img .';
				grid-template-columns: 280px 1fr;
				grid-template-rows: 1fr auto auto 1fr
			}

			.quote, cite {
				width: 100%;
				margin-left: 0;
			}

			.quote {
				grid-area: quote;
			}

			cite {
				grid-area: name;
				margin-top: 0;
			}

			figure {
				grid-area: img;
			}

			input {
				&:checked {
					+ label {
						+ blockquote {
							display: grid;
						}
					}
				}
			}
		}
	}
}

@media(min-width: 50em) {
	.testimonials {
		.quote {
			padding: 40px 60px;
			font-size: 1.2em;

			svg {
				position: absolute;
				height: 40px;
			}

			.before {
				top: 0;
				left: 0;
			}

			.after {
				right: 0;
				bottom: 0;
			}
		}

		cite {
			padding-left: 60px;
		}
	}
}
