@use '../../../styles/variables.scss';

.testimonials {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 150px;
	margin-bottom: 150px;
	color: #ffffff;

	blockquote {
		display: none;
		width: 100%;
		margin: 0;
	}

	figure {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 280px;
		height: 280px;
		margin: 0 auto;
		padding: 40px;

		.sun {
			position: absolute;
			z-index: 5;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			svg {
				width: 100%;
				height: 100%;
			}

			path, ellipse {
				stroke-width: 21px;
				stroke: variables.$secondary;
			}
		}

		img, .gatsby-image-wrapper {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
	}

	input {
		+ label {
			order: 1;
			width: auto;
			cursor: pointer;

			span {
				position: absolute;
				right: -200vw;
			}
		}

		&:checked {
			+ label {
				&:after {
					// content: '';
					// z-index: 10;
					background: #ffffff;
				}

				+ blockquote {
					display: block;
				}
			}
		}
	}

	.quote {
		position: relative;
		padding: 20px 40px;

		svg {
			position: absolute;
			height: 1.5em;
		}

		.before {
			top: 0;
			left: 0;
		}

		.after {
			right: 0;
			bottom: 0;
		}
	}

	cite {
		display: block;
		margin-top: 30px;
		color: inherit;
		font-size: 0.8em;
		font-style: normal;

		p {
			margin: 0;
		}
	}

	.name {
		font-family: variables.$font_heading;
		font-size: 2em;
		text-transform: uppercase;
	}

	.curve {
		position: absolute;
		z-index: -1;
		width: auto;
		height: 135%;
		transform: scaleX(-1) translateX(20%) translateY(-5%);
		fill: variables.$primary;
	}

	@supports(grid-template-areas: '.') {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr repeat(var(--testimonials), auto) 1fr;
		grid-template-rows: max-content auto;
		align-items: center;

		blockquote {
			display: grid;
			visibility: hidden;
			grid-column: 1 / -1;
			grid-row: 1;
		}

		label {
			margin: 0;

			&:first-of-type {
				grid-column-start: 2;
			}
		}

		input {
			&:checked {
				+ label {
					+ blockquote {
						visibility: visible;
					}
				}
			}
		}
	}
}

@media(min-width: 40em) {
	.testimonials {
		align-content: center;
		align-items: center;
		margin-top: 100px;

		figure {
			float: left;
		}

		.quote, cite {
			width: calc(100% - 300px);
			margin-left: auto;
		}

		cite {
			padding-left: 40px;
		}

		.curve {
			left: 50%;
			height: 150%;
			transform: scaleX(-1) translateX(50%) translateY(2%);
			fill: variables.$primary;
		}
	}

	@supports(grid-template-areas: '.') {
		.testimonials {
			blockquote {
				grid-gap: 30px;
				grid-template-areas: 'img .' 'img quote' 'img name' 'img .';
				grid-template-columns: 280px 1fr;
				grid-template-rows: 1fr auto auto 1fr;
				align-items: center;
			}

			.quote, cite {
				width: 100%;
				margin-left: 0;
			}

			.quote {
				grid-area: quote;
			}

			cite {
				grid-area: name;
				margin-top: 0;
			}

			figure {
				grid-area: img;
			}

			input {
				&:checked {
					+ label {
						+ blockquote {
							display: grid;
						}
					}
				}
			}
		}
	}
}

@media(min-width: 50em) {
	.testimonials {
		.quote {
			padding: 40px 60px;
			font-size: 1.2em;

			svg {
				position: absolute;
				height: 40px;
			}

			.before {
				top: 0;
				left: 0;
			}

			.after {
				right: 0;
				bottom: 0;
			}
		}

		cite {
			padding-left: 60px;
		}
	}
}

@media(min-width: 60em) {
	.testimonials {
		margin-top: 150px;

		.curve {
			height: 160%;
		}
	}
}
