@use '../../../styles/variables.scss';

header {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
	padding: 20px;

	.curve {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		width: auto;
		height: 90%;
		transform: translateX(-45%);

		path {
			display: none;
			fill: variables.$secondary;
		}

		.default {
			display: block;
		}
	}

	button {
		--cta_background: transparent;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 4em;
		height: 4em;
		padding: 0.5em;
		border-radius: 10px;

		span {
			position: absolute;
			right: -300vw;
		}

		&:hover, &:focus {
			--cta_background: #{variables.$primary};
			--cta_text: #ffffff;
		}
	}

	.logo {
		display: block;
		height: 100px;
	}
}

body[class*='header_'] {
	&.header_graphic {
		header {
			margin-bottom: 0;

			.curve {
				height: 105%;
				transform: translateX(-55%);

				.graphic {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}

	&.header_video {
		header {
			margin-bottom: 45px;

			.curve {
				transform: translateX(-45%);

				.video {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}

	&.header_image {
		header {
			margin-bottom: 0;

			.curve {
				left: 80%;

				.image {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}

	&.header_image_blob {
		header {
			margin-bottom: 0;

			.curve {
				transform: translateX(-50%);

				.image_blob {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}
}

@media(min-width: 30em) {
	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 100%;
					transform: translateX(-55%);
				}
			}
		}
	}
}

@media(min-width: 40em) {
	header {
		margin-bottom: 150px;
		padding: 40px;

		.curve {
			left: 0;
			transform: translateX(-35%);
		}
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 68%;
					transform: translateX(-38%);
				}
			}
		}

		&.header_video {
			header {
				margin-bottom: 0;

				.curve {
					transform: translateX(-50%);
				}
			}
		}

		&.header_image_blob {
			header {
				.curve {
					height: 70%;
					transform: translateX(-40%);
				}
			}
		}
	}
}

@media(min-width: 50em) {
	header {
		padding: 40px 5vw;

		.logo {
			flex: 0 1 100px;
			height: 100%;
		}

		.curve {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 120px;
					transform: translateX(-50%);
				}
			}
		}

		&.header_image {
			header {
				.curve {
					left: 50%;
				}
			}
		}

		&.header_video {
			header {
				.curve {
					transform: translateX(-51%);
				}
			}
		}

		&.header_image_blob {
			header {
				.curve {
					height: 90%;
					transform: translateX(-50%);
				}
			}
		}
	}
}

@media(min-width: 60em) {
	header {
		padding: 50px 5vw;

		.logo {
			flex-basis: 150px;
			min-width: 100px;
			max-width: 180px;
			margin-right: 15px;
		}
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 75%;
				}
			}
		}
	}
}

@media(min-width: 70em) {
	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					transform: translateX(-48%);
				}
			}
		}

		&.header_video {
			header {
				.curve {
					left: 55%;
				}
			}
		}
	}
}

@media(min-width: 80em) {
	header {
		.logo {
			width: 180px;
		}
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					transform: translateX(-50%);
				}
			}
		}

		&.header_video {
			header {
				.curve {
					left: 50%;
				}
			}
		}
	}
}

@media(min-width: 85em) {
	header {
		padding: 50px calc(50vw - 600px);
	}

	body[class*='header_'] {
		&.header_video {
			header {
				.curve {
					left: 55%;
				}
			}
		}
	}
}

