@use '../../../styles/variables.scss';

header {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

	.curve {
		position: absolute;
		z-index: -1;
		top: 0;
		width: auto;
		height: 90%;
		transform: translateX(-50%);

		path {
			display: none;
			fill: variables.$secondary;
		}

		.default {
			display: block;
		}
	}

	button {
		--background: transparent;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 4em;
		height: 4em;
		padding: 0.5em;
		border-radius: 10px;

		span {
			position: absolute;
			right: -300vw;
		}

		&:hover, &:focus {
			--background: #{variables.$primary};
			--text: #ffffff;
		}
	}

	.logo {
		display: block;
		height: 100px;
	}
}

body[class*='header_'] {
	&.header_graphic {
		header {
			.curve {
				height: 105%;

				.graphic {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}

	&.header_video {
		header {
			.curve {
				.video {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}

	&.header_image {
		header {
			.curve {
				.image {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}

	&.header_image_blob {
		header {
			.curve {
				.image_blob {
					display: block;
				}

				.default {
					display: none;
				}
			}
		}
	}
}

@media(min-width: 30em) {
	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 100%;
					transform: translateX(-48%);
				}
			}
		}
	}
}

@media(min-width: 40em) {
	header {
		padding: 40px;
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 68%;
					transform: translateX(-40%);
				}
			}
		}
	}
}

@media(min-width: 50em) {
	header {
		padding: 40px 5vw;

		.logo {
			flex: 0 1 100px;
			height: 100%;
		}
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 120px;
					transform: translateX(-37%);
				}
			}
		}
	}
}

@media(min-width: 60em) {
	header {
		padding: 50px 5vw;

		.logo {
			flex-basis: 150px;
			min-width: 100px;
			max-width: 180px;
			margin-right: 15px;
		}
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					height: 75%;
				}
			}
		}
	}
}

@media(min-width: 70em) {
	header {
		.logo {
			// height: 10vw;
		}
	}

	body[class*='header_'] {
		&.header_graphic {
			header {
				.curve {
					// height: 150px;
					transform: translateX(-34%);
				}
			}
		}
	}
}

@media(min-width: 80em) {
	header {
		.logo {
			width: 180px;
		}
	}
}

@media(min-width: 85em) {
	header {
		padding: 50px calc(50vw - 600px);
	}
}

