@use '../../../styles/variables.scss';

.quote_block {
	position: relative;
	max-width: 400px;
	margin: 0 auto 100px;
	padding: 50px 20px;
	color: #ffffff;
	font-family: variables.$font_heading;
	font-size: 1.3em;

	.quote_illustration {
		display: block;
		margin-top: 30px;

		svg {
			display: block;
			width: 200px;
			margin: 0 auto;

			path, ellipse {
				stroke: variables.$secondary;
			}
		}
	}

	.background {
		position: absolute;
		z-index: -1;
		top: -120px;
		left: 50%;
		min-width: 100%;
		height: 140%;
		min-height: 100%;
		transform: translateX(-50%);
		color: variables.$primary;
	}
}


@media(min-width: 40em) {
	.quote_block {
		margin: 0 0 0 auto;

		.background {
			top: -200px;
			height: 160%;
			transform: translateX(-50%) rotate(-40deg);
		}
	}
}

@media(min-width: 50em) {
	.quote_block {
		margin-bottom: -250px;
		font-size: 2em;

		.background {
			top: -200px;
			height: 160%;
			transform: translateX(-40%) rotate(-0deg);
		}
	}
}

@media(min-width: 60em) {
	.quote_block {
		margin-right: -100px;
		margin-bottom: -500px;

		.background {
			top: -200px;
			transform: translateX(-45%) rotate(-0deg);
		}
	}
}

@media(min-width: 60em) {
	.quote_block {
		margin-right: -50px;
	}
}

