form.custom {
	button {
		font-size: 1.2em;

		&:last-child, & + button[type='submit'] {
			margin-right: 0;
		}

		&:not(:last-child) {
			margin-left: 0;
		}

		&[type='submit'] {
			margin: 20px auto;
		}
	}

	.hidden {
		display: none;
	}

	.page {
		width: 100%;
	}
}
