@use '../../../styles/variables.scss';

form.custom {
	button {
		font-size: 1.2em;

		&:last-child {
			margin-right: 0;
		}

		&:not(.multistep) {
			margin: 20px auto;
		}

		&:not(:last-child) {
			margin-left: 0;
		}
	}

	.hidden {
		display: none;
	}

	.page {
		width: 100%;
	}

	.progress {
		path {
			stroke-width: 2;
			stroke: variables.$primary;

			&.fill {
				fill: url(#_ProgressGradient);
			}
		}
	}
}
